* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
body {
  background: #f5f5f5;
  font-family: "Poppins";
}
.main {
  padding: 0rem 4rem;
  display: flex;
  flex-direction: column;
}
.container1 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.logo {
  margin: 1rem 0rem;
  height: 33px;
  width: 160px;
}
#mainLogo {
  padding-left: 4rem;
}
h1 {
  width: 342px;
  height: 120px;
  margin: 3rem 0rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150.4%;
  color: #323232;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo2 {
  position: absolute;
  width: 610px;
  height: 783px;
  z-index: -2;
  right: 2px;
  top: -47px;
}
.content1 {
  margin-top: -1rem;
  max-width: 619px;
  height: fit-content;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
}
.content1 :nth-child(1) > span {
  color: #7e1cfe;
  font-weight: 700;
  font-size: 20px;
  line-height: 170%;
}
.span2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 170%;
  color: #7e1cfe;
}
.inputgroup1 {
  border: none;
  outline: none;
  background: transparent;
  color: #7e1cfe;
  border-bottom: 1px solid #000;
  text-align: center;
}
.inputgroup1::placeholder {
  color: #7e1cfe;
}
.btn1 {
  margin-top: 1rem;
  margin-right: 1rem;
  width: 223px;
  height: 58px;
  border: none;
  color: white;
  background: #7e1cfe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-size: 16px;
}
.btn2 {
  border-radius: 20px;
  width: 340px;
  height: 58px;
  font-size: 16px;
  border: 2px solid #7e1cfe;
  margin-left: 77px;
}
.btn2 > span {
  color: #0085ff;
  text-decoration: underline;
}
.container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15rem;
}
.titleOfContainer {
  color: #7e1cfe;
  font-weight: 700;
  font-size: 28px;
  line-height: 170%;
}
.vedioPlayer {
  width: 50%;
  height: 415px;
  margin-top: 77px;
  border-radius: 10px;
}
.container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}
.cardmain {
  background: #ffffff;
  box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  max-width: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}
.cardmain img {
  height: 4rem;
  width: 4rem;
}
.cardmain > :nth-child(2) {
  padding: 1rem;
  font-weight: 600;
  font-size: 20px;
  line-height: 150.4%;
}
.cardmain > :nth-child(3) {
  font-weight: 400;
  font-size: 15px;
  line-height: 150.4%;
}
.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 795px;
  height: fit-content;
  align-self: center;
  margin-bottom: 2rem;
}
.container5 {
  display: flex;
  flex-wrap: wrap;
  place-content: space-around;
  max-width: 52rem;
  align-self: center;
}
.cardicon {
  max-width: 15rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.cardicon > img {
  border-radius: 20px;
}
.cardicon > :nth-child(2) {
  display: inline;
  width: fit-content;
}
.cardicon > :nth-child(2)::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background: #7e1cfe;
  transition: width 0.3s;
}

.cardicon > :nth-child(2):hover::after {
  width: 100%;
  transition: width 0.3s;
}
.container6 {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}
.container6 > :nth-child(2) > :nth-child(1) {
  border: 1px solid #754de8;
  border-radius: 20px;
  padding: 1rem;
  margin-right: 0.2rem;
}
.container6 > :nth-child(2) > :nth-child(2) {
  border: 1px solid #754de8;
  border-radius: 20px;
  padding: 1rem;
}
.container6 > :nth-child(4) {
  margin: 1rem 0rem;
}
footer {
  display: flex;
  flex-direction: column;
}
.firstFooter {
  display: flex;
  background: #d0d0d0;
  padding: 2rem 0rem;
  box-sizing: border-box;
  justify-content: space-around;
}
.firstFooter > :nth-child(1) {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.firstFooter > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
}
.firstFooter > :nth-child(2) > :nth-child(1) {
  margin-bottom: 0.5rem;
}
.firstFooter > :nth-child(2) > :nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.firstFooter > :nth-child(1) > :nth-child(2) {
  display: flex;
  justify-content: space-between;
  min-width: 42rem;
  color: #131313;
  max-width: fit-content;
}
.firstFooter > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  display: flex;
  flex-direction: column;
}
.firstFooter > :nth-child(1) > :nth-child(2) > :nth-child(2) {
  display: flex;
  flex-direction: column;
}
.secondFooter {
  background: #000000;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 2rem;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}
.secondFooter > :nth-child(2) > :nth-child(1) {
  margin-right: 2rem;
}
.socialIcon {
  height: 1.5rem;
  width: 1.5rem;
}
@media screen and (max-width: 900px) {
  body {
    font-size: 1rem;
  }
  .main {
    padding: 1rem;
  }
  #mainLogo {
    padding-left: 1rem;
  }
  h1 {
    margin: 0rem 0rem 1rem;
    width: fit-content;
    height: fit-content;
  }
  .logo2 {
    display: none;
  }
  .container2 {
    margin-top: 2rem;
  }
  .container1 > :nth-child(6) {
    text-align: center;
  }
  .btn2 {
    margin-top: 1rem;
    margin-left: 0rem;
    max-width: max-content;
    padding: 0rem 0.5rem;
  }
  .vedioPlayer {
    width:100%;
  }
  .cardmain {
    margin-right: 0rem;
  }
  .cardicon {
    margin-right: 0rem;
  }
  .container6 {
    text-align: center;
  }
  .container6 > :nth-child(2) > :nth-child(1) {
    margin-bottom: 1rem;
  }
  .firstFooter > :nth-child(1) > :nth-child(2) {
    flex-direction: column;
    min-width: fit-content;
  }
  .firstFooter {
    flex-direction: column;
    width: 100vw;
    padding: 1rem;
  }
  .firstFooter > :nth-child(2) > :nth-child(2) {
    justify-content: space-around;
  }
  .secondFooter {
    width: 100vw;
    flex-direction: column;
  }
}
